<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kristina Myftaraga Portfolio Website</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" 
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        
<!-- Update these with your own fonts -->
   <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" 
    rel="stylesheet">
        
    <link rel="stylesheet" href="/static/style.css">
   <link rel="stylesheet" href="/static/lightbox.min.css">
   <script src="/static/js/lightbox-plus-jquery.min.js"></script>
    </head>

     <div class="topnav" id="myTopnav">
      <a href="{{ url_for('home') }}#work">Portfolio</a>
      <a href="{{ url_for('home') }}#services">Services</a>
      <a href="{{ url_for('home') }}#about">About</a>
      <a href="{{ url_for('home') }}" class="active">Home</a>
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
             
           <i class="fa fa-bars"></i>
    
         </a>
       </div>
       <a href="https://www.instagram.com/xyas.art/"><img src="/static/img/logo.png" class="logo"></a>
       <img src="/static/img/caricatures.png" alt =""class="name" >
     <body>
         
<!----------Intro----------------->

<h4 class= "portfolio-h">I have done some caricatures lately. I like experimention and that was one of the fields I fould hard in the past to adapt. </h4>

<div class="portfolio-item-individual">
  

</head>
<body>
      
      <div class="gallery">
        <a href="/static/img/caricature/trump.png"data-lightbox="mygallery" data-title= "Donald Trump"><img src="/static/img/caricature/trump.png"class="c1"></a>
        <a href="/static/img/caricature/obama.png"data-lightbox="mygallery" data-title="Barack Obama"><img src="/static/img/caricature/obama.png"class="c1"></a>
        <a href="/static/img/caricature/rama.png"data-lightbox="mygallery" data-title="Edi Rama"><img src="/static/img/caricature/rama.png"class="c1"></a>
        <a href="/static/img/caricature/greta.png"data-lightbox="mygallery" data-title="Greta Thunberg"><img src="/static/img/caricature/greta.png"class="c1"></a>
      
      </div>
</body>


<!-------------------Footer ------------------------>
<footer class="footer">
<footer>
    <a href= "mailto:knm181@aubg.edu" class="footer__link">knm181@aubg.edu</a>
    <ul class="social-list">
        <li class="social-list__item"><a class="social-list__link" href="https://facebook.io"> 
            <i class="fab fa-facebook-f"></i>
            </a></li>
       
        <li class="social-list__item"><a class="social-list__link" href="http://instagram.com">
            <i class="fab fa-instagram"></i>
            </a></li>
        
        <li class="social-list__item"><a class="social-list__link" href="https://linkedin.com">
            <i class="fab fa-linkedin-in"></i>
            </a></li>
       
        <li class="social-list__item"><a class="social-list__link" href="https://github.com">
                <i class="fab fa-github">
                </i></a></li>

    </ul>
        </footer>

        <script src="/static/js/index.js"></script>

</body>
</html>