<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kristina Myftaraga Portfolio Website</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" 
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
        
<!-- Update these with your own fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" 
    rel="stylesheet">
        
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/lightbox.min.css">
    <script src="/static/js/lightbox-plus-jquery.min.js"></script>
    </head>

     <div class="topnav" id="myTopnav">
        <a href="{{ url_for('home') }}#work">Portfolio</a>
        <a href="{{ url_for('home') }}#services">Services</a>
        <a href="{{ url_for('home') }}#about">About</a>
        <a href="{{ url_for('home') }}" class="active">Home</a>
        
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
             
           <i class="fa fa-bars"></i>
    
         </a>
       </div>
       <a href="https://www.instagram.com/xyas.art/"><img src="/static/img/logo.png" class="logo"></a>
       <img src="/static/img/portraits.png" alt ="" class="name">
     <body>
         

<!----------Intro----------------->


    <h4 class= "portfolio-h">These are the digital portraits I have designed. </h4>
    <div class="portfolio-item-individual">
        
    <body>

        <div class="gallery">
            <a href="/static/img/portrait/nicki.png"data-lightbox="mygallery" data-title= "Nicki Minaj"><img src="/static/img/portrait/nicki.png"class="c1"></a>
            <a href="/static/img/portrait/anto.png"data-lightbox="mygallery" data-title="Antoneta Koci"><img src="/static/img/portrait/anto.png"class="c1"></a>
            <a href="/static/img/portrait/berto1.png"data-lightbox="mygallery" data-title="Cindy"><img src="/static/img/portrait/berto1.png"class="c1"></a>
            <a href="/static/img/portrait/elif.jpg"data-lightbox="mygallery" data-title="Tuba Buyukustun"><img src="/static/img/portrait/elif.jpg"class="c1"></a>
            <a href="/static/img/portrait/danna.png"data-lightbox="mygallery" data-title="Danna Paola"><img src="/static/img/portrait/danna.png"class="c1"></a>
            <a href="/static/img/portrait/billie.png"data-lightbox="mygallery" data-title="Billie Elish"><img src="/static/img/portrait/billiesmall.png"class="c1"></a>         
        </div >    
    
        </div>
    </div>
</body>


<!-------------------Footer ------------------------>
<footer class="footer">
    <footer>
        <a href= "mailto:kristina.myftaraga@yahoo.com" class="footer__link">kristina.myftaraga@yahoo.com</a>
        <ul class="social-list">
            <li class="social-list__item"><a class="social-list__link" href="https://www.facebook.com/profile.php?id=100009238589388"> 
                <i class="fab fa-facebook-f"></i>
                </a></li>
           
            <li class="social-list__item"><a class="social-list__link" href="https://www.instagram.com/xyas.art/">
                <i class="fab fa-instagram"></i>
                </a></li>
            
            <li class="social-list__item"><a class="social-list__link" href="https://www.linkedin.com/in/kristina-m-041992108/m">
                <i class="fab fa-linkedin-in"></i>
                </a></li>
           
    
        </ul>
            </footer>
    
            <script src="/static/js/index.js"></script>
    

    
</body>

</html>